#principal-container{
    margin-left: 7vw;
}

.menu-link.active {
    background-color: var(--primary-color);
    color: var(--font-color) !important;
}

.menu-link {
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: var(--border-radius);
    transition: background 0.2s;
}

.menu-link.active:hover {
    background-color: var(--primary-hover);
}

.menu-link:hover {
    background-color: var(--card-bg);
}

/* Botón “fuera del borde” del producto */
.btn-cerrar {
    position: absolute;
    top: 50%;
    right: -50px; /* aumenta el valor para sacarlo fuera del borde */
    transform: translateY(-50%);
    padding: 0.25rem 0.35rem;
    font-size: 0.8rem;
    color: var(--mode-icons); 
}

.cart-item{
    background-color: var(--card-bg);
}

li p{
    color: var(--font-color);
}

#btn-comprar{
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    padding: 6px 30px 6px 30px;
    border-radius: 6px;
    display: block;       
    margin-left: auto;    
}

#subtot-lin{
    margin-left: 15vw;
}