    #principal-container{
        margin-left: 7vw;
    }

    .menu-link.active {
        background-color: var(--primary-color);
        color: var(--font-color) !important;
    }

    .menu-link {
        color: var(--font-color);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 12px;
        border-radius: var(--border-radius);
        transition: background 0.2s;
    }

    .menu-link.active:hover {
        background-color: var(--primary-hover);
    }

    .menu-link:hover {
        background-color: var(--card-bg);
    }

    .info-box {
        background-color: var(--info-perfil-bg);
        border-radius: 15px;
    }

    .btn-edit {
        background-color: var(--primary-color);
        color: var(--font-color);
        border: none;
        display: block;       
        margin-left: auto;    
    }

    #btn-cerrar{
        display: block;       
        margin-left: auto; 
    }

    .btn-edit-img{
        margin-left: 15vw;
    }

    .btn-input-img{
        margin-right: 1vw;
        background-color: var(--bg-color);
        border-radius: var(--border-radius);
    }
    .btn-edit:hover {
        background-color: var(--primary-hover);
    }

    .form-edit-perfil{
        display: none;
    }

    .form-edit-perfil input{
        border-color: var(--primary-color);
    }

    #img-input{
        display: none;
    }